

/* 1. SELECTORES DE ETIQUETA (Afectan a todo el sitio) */
body {
    background-color: #121212; /* Negro profundo */
    color: #e0e0e0; /* Gris claro para lectura descansada */
    font-family: 'Georgia', serif; /* Una fuente con clase y antigua */
    margin: 0;
    padding: 0;
}

h2, h3 {
    color: #d4af37; /* Dorado Shelby */
    text-transform: uppercase;
    letter-spacing: 1px;
    border-left: 4px solid #4b0000; /* Detalle en rojo oscuro sangre */
    padding-left: 15px;
}

/* 2. SELECTORES DE IDENTIFICADOR (Para elementos únicos) */
#cabecera-principal {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/birmingham-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #d4af37;
    padding: 60px 20px;
    text-align: center;
    border-bottom: 2px solid #d4af37;
}

#boton-unirse {
    background-color: #d4af37;
    color: #121212;
    padding: 15px 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

#boton-unirse:hover {
    background-color: #b8952e; /* Oscurece al pasar el ratón */
}

/* 3. SELECTORES DE CLASE (Para elementos repetidos) */
.tarjeta-personaje {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.texto-importante {
    font-style: italic;
    color: #d4af37;
    font-size: 1.2rem;
    text-align: center;
    margin: 30px 0;
}

/* ESTILOS ADICIONALES PARA LA NAVEGACIÓN */
.menu{
    background-color: #000;
    list-style: none;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu a {
    color: #888;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    transition: color 0.3s;
}

.menu a:hover {
    color: #d4af37;
}

.imagen-grande {
    display: block;      /* Permite centrarla */
    margin: 40px auto;   /* Centra horizontalmente y da espacio arriba/abajo */
    width: 1000%;          /* Ocupa el 80% del ancho de la página */
    max-width: 900px;   /* Evita que se pixele en pantallas muy grandes */
    height: auto;        /* Mantiene la proporción para que no se deforme */
    border: 2px solid #d4af37; /* Un detalle dorado opcional, muy elegante */
    box-shadow: 0 5px 15px rgba(0,0,0,0.5); /* Sombra para darle profundidad */
    
}